* {
  margin: 0;
  padding: 0;
}

:root {
  --fonte-p: Verdana, Geneva, Tahoma, sans-serif;
  --fonte-titulo: 'Passion One', cursive;
  --fonte-cordel: 'Sriracha', cursive;
}

.white-paragraph {
  background-color: white;
  font-family: var(--fonte-cordel);
  font-size: 2em;
  padding: 3em;

  display: block;
  line-height: 1.75em;
  height: 90vh;
  margin-bottom: 2em;
}

.transparent-paragraph {
  color: white;
  font-family: var(--fonte-cordel);
  font-size: 2em;
  padding: 3em;
  position: absolute;
  text-shadow: 1px 1px 0px black;

  display: block;
  line-height: 1.75em;
  height: 70vh;
}

#background-one {
  background-image: url(../imagens/background001.jpg);
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: right center;
}

#background-two {
  background-image: url(../imagens/background002.jpg);
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
