* {
  margin: 0;
  padding: 0;
}

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', cursive;
  --fonte3: 'Sriracha', cursive;
}

.white-paragraph {
  background-color: white;
  font-family: var(--fonte-cordel);
  font-size: 3vw;
  padding-left: 50px;
  padding-right: 600px;
}

.transparent-paragraph {
  background-color: rgba(0, 0, 0, 0.514);
  position: absolute;
  color: white;
  font-family: var(--fonte-cordel);
  font-size: 3vw;
  text-shadow: 1px 1px 0px black;
  padding-left: 50px;
  padding-right: 600px;
}

main > p {
  display: block;
  line-height: 2em;
  height: 70vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 1rem;
}

#background-one {
  background-image: url(../imagens/background001.jpg);
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: left top;
}

#background-two {
  background-image: url(../imagens/background002.jpg);
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
